.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width: 600px;
    padding: 20px 30px;
    margin: 30px;
    overflow: hidden;
}

.query-div, .canvas-div {
    text-align: center;
}

.buttons {
    float: right;
    margin: 10px 0px;
}

.query textarea {
    background: #000;
    color: white;
    font-size: 14px;
    font-family: "Courier New";
    font-weight: bold;
    padding: 10px;
    resize: none;
    height: 260px;
    width: 100%;
}

.canvas {
    width: 520px;
    height: 260px;
}

/*.flipper.flip {
    transform: rotateY(180deg);
}*/

/* flip speed goes here */
/*.flipper {
    width:600px;
    margin: 0 auto;
    transition: 0.9s;
    transform-style: preserve-3d;
}*/

/* hide back of pane during swap */
/*.front, .back {
    backface-visibility: hidden;
    height: 80%;
    width: 90%;
}*/

/* front pane, placed above back */
/*.front {
    z-index: 2;
    transform: rotateY(0deg);
}*/

/* back, initially hidden pane */
/*.back {
    transform: rotateY(180deg);
}*/

/*.card-instructions {
    line-height: 1.5;
    margin-bottom: 20px;
    opacity: 0.8;
}*/

/*.back canvas {
}*/

/*.code {
    font-size: 14px;
    font-family: "source-code-pro";
    font-weight: 500;
    color:#5264AE;
}*/

/*.remove-button {
	font-size: 25px;
	color: gray;
	padding-right: 190px;
}*/

/*.run-button, .edit-button {
    font-size: 25px;
    color: gray;
    float: right; 
    cursor: pointer;
}*/

/*.results-title {
    float: left;
}*/