.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width: 600px;
    padding: 20px 30px;
    margin: 30px;
    overflow: hidden;
}

.query-div, .canvas-div {
    text-align: center;
}

.buttons {
    float: right;
    margin: 10px 0px;
}

.query textarea {
    background: #000;
    color: white;
    font-size: 14px;
    font-family: "Courier New";
    font-weight: bold;
    padding: 10px;
    resize: none;
    height: 260px;
    width: 100%;
}

.canvas {
    width: 520px;
    height: 260px;
}