body {
    font-family: noticia-text, serif;
    font-weight: 300;
    font-size: 19;
}

#main {
  display: block;
  margin: 4%;
  position: relative;
}

.table-name {
  background:none!important;
  border:none; 
  padding:0!important;
  cursor: pointer;
  color: #000000;
  font-family: play, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

h1 {
    margin-top: 0px;
    font-family: paytone-one, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-family: open-sans, sans-serif;
}

.row {
    padding-bottom: 25px;
}

.db-file-form .container-fluid {
    background: #1C1C1C;
}

#filepath, #filepath-btn {
    background: white;
    border: 0px solid;
    border-radius: 0px;
}

.navbar-brand {
    font-family: paytone-one, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

.chart-title {
    font-family: paytone-one, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

li {
    list-style-type:none;
    padding-left: 0;
}

.table-name:hover {
    font-weight: bold;
}

#tables-list {
    padding-left: 0;
}

.footer {
    padding: 30px 0;
    font-size: 21px;
}

.created-by {
    float: right;
    font-size: 15px;
    font-weight: normal;
}

.created-by a {
    color: black;
}

.authors {
    margin-top: 0px;
    padding-bottom: 20px;
    font-family: open-sans, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color:#5264AE;
}

.code {
    font-family: source-code-pro, sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.inline {
  display: inline-block;
}
