body {
    font-family: "proxima-nova";
    font-weight: 300;
    font-size: 20px;
}

#main {
  display: block;
  margin: 4%;
  position: relative;
}

.table-name {
  background:none!important;
  border:none; 
  padding:0!important;
  cursor: pointer;
  color: #0000EE;
}

.table-name:hover {
  text-decoration: underline;
}

.footer {
    padding: 30px 0;
    font-size: 21px;
}

.created-by {
    float: right;
    font-size: 15px;
    font-weight: normal;
}

.created-by a {
    color: black;
}

.authors {
    margin-top: 0px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
    color:#5264AE;
}

.inline {
  display: inline-block;
}