<html>
<head>
{% load staticfiles %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- CSS concatenated and minified via ant build script -->
  <link rel="stylesheet" type="text/css" href="{% static 'bubble_cloud/css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bubble_cloud/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'bubble_cloud/css/style.css' %}"/>
	<!-- end CSS-->

  <script type="text/javascript" src="{% static 'bubble_cloud/js/libs/modernizr-2.0.6.min.js' %}"></script>
</head>

<body>

  <div id="container" class="container">
      <select id="text-select">
        <option value="sherlock">Sherlock Holmes</option>
        <option value="aesop">Aesop's Fables</option>
        <option value="alice">Alice in Wonderland</option>
        <option value="gulliver">Gulliver's Travels</option>
      </select>
    <header>
    <h1>Bubble Cloud</h1>
    <h2>The most frequently used words in:</h2>
      <h2 id="book-title"></h2>
    </header>
    <div id="main" role="main">
      <div id="vis"></div>
      <div id="status"></div>
      <div id="controls">
        <h3>Jitter</h3>
        <form id="jitter" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
          <input id="jitter_input" type="range" min="0" max="400" value="100" style="width:240px;">
          <output name="output" for="input">0.5</output>
        </form>
      </div>
    </div>
    <footer>
    <p><a href="http://vallandingham.me/building_a_bubble_cloud.html">Blog Post</a> | <a href="https://github.com/vlandham/bubble_cloud">Source Code</a> | <a href="http://www.nytimes.com/interactive/2012/09/04/us/politics/democratic-convention-words.html">Original Inspiration</a></p>
    </footer>
  </div> <!--! end of #container -->


  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <!-- <script>window.jQuery || document.write('<script type="text/javascript" src="js/libs/jquery-1.7.2.min.js"><\/script>')</script> -->
  <script type="text/javascript" src="{% static 'bubble_cloud/js/libs/jquery-1.7.2.min.js' %}"></script>


  <script defer src="{% static 'bubble_cloud/js/plugins.js' %}"></script>
  <script src="{% static 'bubble_cloud/js/libs/coffee-script.js' %}"></script>
  <script src="{% static 'bubble_cloud/js/libs/d3.min.js' %}"></script>
  <script type="text/coffeescript" src="{% static 'bubble_cloud/coffee/vis.coffee' %}"></script>
  <script type="text/javascript">
  </script>


  <script> 
    window._gaq = [['_setAccount','UA-17355070-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
 
</body>
</html>
